<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- ------------検索---------------- -->
<h2>タスク検索</h2>

<form th:action="@{/task-search-list}" method="POST">
   	<input type="submit" value="検索" class="btn">
</form>

<!-- ------------一覧---------------- -->
<div th:if="${taskSummaryList} != null">
	<h2>タスク一覧</h2>

	<table class="task-list">
		<tr>
			<th>タスクID</th><th>タスク名</th><th>期限</th><th>ステータス</th>
		</tr>
		<tr th:each="task : ${taskSummaryList}">
			<td th:text="${task.taskId}"></td>
			<td th:text="${task.taskName}"></td>
			<td th:text="${task.limitDate}"></td>
			<td th:text="${task.statusCode}"></td>
		</tr>

	</table>
</div>

</body>
</html>